/* Product.css */

/* Styles for product image */
.product-image {
    width: 100%;
    height: 350px; /* Increased height for larger images */
    object-fit: cover; /* Ensures the image covers the entire area */
    object-position: center; /* Centers the image within the container */
}

.card {
    height: 100%; /* Makes sure the card takes the full height of its content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styles for the card body */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Ensures the body takes the remaining space */
}

/* Additional styles specific to product details */
#product_image {
    margin-top: 20px;
}

#product_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Styles for star ratings */
.rating-outer {
    position: relative;
    display: inline-block;
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl; /* Right-to-left direction for star rating */
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em; /* Width of each star */
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";  /* Unicode character for a filled star */
    position: absolute;
    color: orange; /* Color of filled stars on hover */
}


